/* ViewOrders.css */
.view-orders-container {
    padding: 20px;
  }
  
  .order-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .order-item {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    width: 200px;
  }
  
  .order-item-image {
    max-width: 100%;
    height: auto;
  }
  
  .order-item-details {
    text-align: center;
  }
  